@font-face {
    font-family: 'pricedownblack';
    src: url('../fonts/pricedown_bl-webfont.woff') format('woff');
}

@font-face {
    font-family: 'helveticaneueheavy';
    src: url('../fonts/helveticaneue_heavy-webfont.woff') format('woff');
}
@font-face {
    font-family: 'helveticaneueheavy';
    src: url('../fonts/helveticaneue_heavy-webfont.woff') format('woff');
}
@font-face {
    font-family: 'helveticaneuelight';
    src: url('../fonts/helveticaneue_light-webfont.woff') format('woff');
}
@font-face {
    font-family: 'roadgeek_2005_mittelschriftRg';
    src: url('../fonts/roadgeek_2005_mittelschrift-webfont.woff') format('woff');
}


#map {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #6f9cb7;
}

#sidebar {
    background-color: #313131;
    width: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#image {
    width: 100%;
    height: 30%;
    border: 2px solid rgb(0, 0, 0);    
}

.loupe {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 5px 5px 12px black;
    background: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: none;
}

.loupe img {
    position: absolute;
}

#hintBox {
    z-index: 2;
    width: 12vw;
    height: 6.8vh;    
    position: absolute;
    top: 0.3vh;
    right: 0.5vw;
    background-color: black;
    opacity: 0.80;
    line-height: 1.5vh;
}

#breakdown {
    margin-top: 2vh;
    text-align: center;
    font-family: "pricedownblack";
    -webkit-text-stroke: 3px black;
    color: white;
    font-size: 3vw;
}

#breakdown-content {
    margin: auto;
    overflow-y: auto;
    margin-top: 6vh;
    display: none;
    background-color: #1f1f1f;
    height: 40%;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.table {    
    font-family: "roadgeek_2005_mittelschriftRg";
    height: 100%;
    font-size: 1.5vh;
    margin-bottom: 0;
}

tbody tr {
    cursor: pointer;
}

#tableHead {
    position: sticky;
    top: 0;
    font-weight: lighter;
}

tfoot {
    text-align: right;
}

#total-points {
    text-align: center;
    font-weight: bold;
}

#high-score {
    float: left;
    animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		text-shadow: 1px 1px 2px black;
	}

	70% {
		transform: scale(1);
        color: rgb(255, 234, 114);
		text-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
	}

	100% {
        color: white;
		transform: scale(0.95);
		text-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

#correctIcon {
    color: green;
}

#incorrectIcon {
    color: red;
}

#hintText {
    margin-left: 0.3vw;
    margin-top: 0.25vw;
    font-size: 0.75vw;
    font-family: "roadgeek_2005_mittelschriftRg";
    font-weight: lighter;
    color: white; 
}

#hintLocation {
    float: right;
    margin-right: 0.3vw;
    font-weight: bold;
}

#resultText {
    font-size: 1.5vw;
}

#guessText {
    font-size: 1vw;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

#submitButton, #nextButton, #breakdownButton, #playAgainButton {
    background-color: #1f1f1f;
    font-family: "pricedownblack";
    font-size: 1.5vw;
    -webkit-text-stroke: 2px black;
    border-color: black;
    width: 50%;
}

#exitButton {
    background-color: #1f1f1f;
    font-family: "pricedownblack";
    font-size: 22px;
    -webkit-text-stroke: 2px black;
    border-color: black;
    position: absolute; 
    left: -1vw; 
    bottom: 10px;
}

#exitButton:hover {
    background-color: #262626;
}

#nextButton, #breakdownButton, #playAgainButton {
    display: none;
}

.leaflet-tooltip-pane {
    font-family: "helveticaneueheavy";
    font-size: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tooltip-location {
    font-family: "roadgeek_2005_mittelschriftRg";
    font-size: 0.8vw;
}

#tooltip-location-points {
    font-size: 0.6vw;
    line-height: 1.5vh;
}

#tooltip-image {
    width: 29vw;
    height: 27.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#resultText {
    font-family: "helveticaneueheavy";
    font-weight: 200;
    color: #577c58;
}

#right-island {
    font-family: "roadgeek_2005_mittelschriftRg";
    font-size: 1vw;
}

#guessText {
    font-family: "roadgeek_2005_mittelschriftRg";
    color: white;
}


#sidebar-footer {
    width: 90%;
    position: absolute;
	bottom: 0.5vh;
    left: 5%;
    text-align:center
}

#footerText {
    font-family: "pricedownblack";
    font-size: 4vw;
    color: white;
    -webkit-text-stroke: 4px black;
    line-height: 3px;
}

#footerTextTwo {
    font-family: "pricedownblack";
    font-size: 4vw;
    color: black;
    -webkit-text-stroke: 2px white;
}
